
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ol class="list-group">
    <li class="list-group-item"><a href="/aluno/cadastrar"> Cadastrar Aluno</a></li>
    <li class="list-group-item">OUTRO ITEM DA LISTA</li>
</ol>