@model Fiap03.Web.MVC.Models.MarcaModel

@{
    ViewBag.Title = "Cadastrar marca";
}

@Fabrica.Mensagem(@TempData["msg"] as string)

<h2 class="text-center">Cadastrar marca</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.Partial("_MarcaForm")

    <div class="form-group">
        @Fabrica.Botao("Cadastrar")
    </div>
}

@section scripts
{

    <script>
        //$().ready(); --> É EXECUTADO QUANDO O 
        //function () {} --> É UMA FUNÇÃO
        //$('#Nome').blur();
        //function () { alert($('#Nome').val()); }
        //$('#Nome').blur(function () { alert($('#Nome').val()); });
        $().ready(function () {
            $('#Nome').blur(function () {
                //RECUPERA O VALOR DO CAMPO
                alert($('#Nome').val());
            });

            $('#Cnpj').blur(function () {
                $.ajax({
                    url: "/Marca/ValidarCnpj",
                    type: "GET",
                    data: { cnpj: $(this).val() },
                    success: function (data) {
                        if (!data.valido) {
                            $('span[data-valmsg-for=Cnpj]')
                                .text('CNPJ já existente')
                                .addClass('field-validation-error');
                        }
                    },
                    error: function () {
                        alert("Erro ao requisitar o servidor");
                    }
                });
            });

            $('#DataCriacao').datepicker();
            $('#DataCriacao').inputmask('99/99/9999');
            $('#Cnpj').inputmask('99-999-999/9999-99');
        });
    </script>
}