
@model Fiap02.Web.MVC_Remake.Models.Aluno

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<form>
    <div>
        <p>Nome: @Model.Nome</p>
        <p>Ano: @Model.Ano</p>
        <p>Nota: @Model.Nota</p>
    </div>
</form>
