
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Periodo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Victor</td>
            <td>Engenharia Mecatrônica</td>
            <td>Diurno</td>
        </tr>
        <tr>
            <td>Thiago</td>
            <td>Engenharia da Computação</td>
            <td>Noturno</td>
        </tr>
    </tbody>
</table>