<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- VEM DO Web.config do MVC -->
  <connectionStrings>
    <add name="DBCarros"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
       Database=DBCarros;
       Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>