
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Cadastrar", "Cadastrar", new { @class = "btn btn-primary" })
@Html.ActionLink("Listar", "Listar", new { @class = "btn btn-success" })